{{#> _layout title=siteName }}
  <div class="hidden" id="game"></div>
  <article class="page-width">
    <noscript>You need to enable JavaScript in order to play this game.</noscript>
    <h1>{{siteName}}</h1>
    <section id="description">
      <h2>Shapeshift</h2>
      <p>This is my first game jam game! :)</p>
      <p>Move around, shoot people and take over their bodies.</p>
    </section>
    <section id="credits">
      <h2>Credits</h2>
      <p>Code and graphics by <a href="http://the.codeartistic.ninja/">the.codeartistic.ninja</a>.</p>
    </section>
  </article>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.4.6/phaser.min.js"></script>
  <script type="text/javascript" src="script/main.js"></script>
{{/_layout}}
